<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Человек</title>
</head>
<body>
<p th:text="${'Name: '+ person.getName()}">VALUE</p>
<p th:text="${'Id: '+person.getId()}">VALUE</p>
<p th:text="${'Email: '+person.getEmail()}">VALUE</p>
<p th:text="${'Age: '+person.getAge()}">VALUE</p>

<br>

<a th:href="@{/people/{id}/edit(id=${person.getId()})}">Edit</a>
<td><a th:href="@{delete/{id}(id=${person.getId()})}">Delete</a></td>
</body>
</html>